body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: white;
    color: black;
    text-align: center;
    padding: 1em;
}

nav {
    background-color:black ;
    color: #fff;
    text-align: center;
    padding: 0.5em;
    position: sticky;
    top: 0;
}

nav a {
    text-decoration: dotted;
    color: #fff;
    margin: 0 15px;
}

section {
    padding: 2em;
    text-align: center;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em;
    position: fixed;
    bottom: 0;
    width: 100%;
}

/* Dodatkowe style dla formularza kontaktowego */
form {
    max-width: 600px;
    margin: 0 auto;
}

label {
    display: block;
    margin-bottom: 8px;
}

input,
textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
}

button {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #555;
}

/* Dodatkowe style dla sekcji Portfolio */
#portfolio {
    display: grid;
    flex-wrap: wrap;
    justify-content: space-around;
}

#portfolio img {
    max-width: 100%;
    height: auto;
    margin-bottom: 16px;
}
#team {
    text-align: center;
}

#team img {
    width: 100px; 
    height: 100px; 
    margin: 80px;
    border-radius: 50%; 
}
#logo{
    width: 100%;
}